body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    background-color: rgb(230, 230, 230);
}

button {
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14pt;
    line-height: 1.5;
    background-color: rgb(220, 220, 220);
    border: none;
    border-bottom: solid 2px rgb(140, 143, 145);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    cursor: pointer;
}

td>button {
    width: 200px;
}

button:hover {
    background-color: rgb(232, 232, 232);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

button:active {
    background-color: rgb(240, 240, 240);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

button:disabled {
    background-color: rgb(150, 150, 150);
}

blackbox {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000AA;
    width: 100vw;
    height: 100vh;
}

#stationbox {
    /* Padding nicht vergessen! */
    width: 20vw;
    height: 15vh;
    top: 42.5vh;
    left: 39vw;
}

#personbox {
    width: 20vw;
    height: 35vh;
    top: 32vh;
    left: 39vw;
}

#personadd {
    margin-top: auto;
}

dialogbox {
    position: absolute;
    background-color: white;
    padding: 1vh 1vw 1vh 1vw;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#routebox {
    text-align: left;
    width: 90vw;
    height: 90vh;
    top: 4vh;
    left: 4vw;
    align-items: unset;
}

dialogbox>button {
    width: fit-content;
    margin-top: 1vh;
}

#dialogtitle,
#routetitle {
    font-size: 16pt;
    margin-bottom: 1vh;
}

#routetitle {
    display: flex;
    align-items: center;
    font-weight: bold;
}

#routetitle>button {
    margin-right: 5px;
}

input[type=text],
select {
    width: 20vw;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14pt;
    line-height: 1.5;
    background-color: rgb(220, 220, 220);
    border: none;
    border-bottom: solid 2px rgb(140, 143, 145);
}

sidebar {
    width: 206px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
}

main {
    margin-left: 206px;
    width: calc(99vw - 206px);
    height: 98vh;
    padding: 2vh 0 0 1vw;
}

.title {
    font-size: 18pt;
    text-align: center;
}

#stop-selector,
#option-selector {
    margin-bottom: 1.5vh;
}

travelerentry {
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(140, 143, 145);
}

travelerentry>button {
    margin-right: 1vw;
    border-bottom: none;
}

#swap {
    width: 32px;
    height: 32px;
}

routebox {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: calc(90vw - 206px);
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.5vh 1vw 0.5vh 1vw;
    cursor: pointer;
}

routebox>.routetitle {
    font-weight: bold;
    font-size: 18pt;
    margin-left: 0.2vw;
}

.flexbox {
    display: flex;
}

linebox {
    color: white;
    height: fit-content;
    text-align: center;
    font-weight: bold;
    padding: 0.5vh 0 0.5vh 0;
    margin: 0 0.2vw 0 0.2vw;
    border-radius: 5px;
}

.green-text {
    color: green;
}

.pricetext {
    font-size: 14pt;
    margin-top: 5px;
}

.searchtitle {
    font-weight: bold;
    font-size: 18pt;
}

leftbox {
    border-left: solid rgb(100, 100, 100) 4px;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

.stationtitle {
    font-size: 14pt;
    line-height: 0;
}

.traintitle {
    font-size: 11pt;
    color: white;
    width: fit-content;
    padding: 0.2vh 0.2vw 0 0.2vw;
    border-radius: 2px;
    margin: 2vh 0 1vh 0;
}

.operator {
    color: gray;
    font-size: 10pt;
}

.changehere {
    color: rgb(65, 65, 65);
    font-size: 12pt;
    border-left: dotted rgb(100, 100, 100) 4px;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    padding-left: 4px;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

.platform {
    font-size: 14pt;
    background-color: rgb(0, 64, 109);
    color: white;
    width: fit-content;
    padding: 0.25vh 0.25vw 0.25vh 0.25vw;
    border-radius: 2px;
    margin-right: 0.75vw;
}